$h1-font-size: 1.8em;
$h2-font-size: 1.3em;
$h3-font-size: 1.3em;
$small-font-size: 1.0em;
$xsmall-font-size: 0.8em;
$color-text-black: #1d1d1b;

body {
    background: white;
    font-size: 1.1em;

    h1 {
        font-size: $h1-font-size;
    }
    h2 {
        font-size: $h2-font-size;
    }
    h3 {
        font-size: $h3-font-size;
    }
    p {
        font-size: $base-font-size;
        font-weight: $base-font-weight;
    }
    .home {
        min-height: 75vh;
    }
}

.site-header {
    border-top: 5px solid $color-text-black;

    //fix the header at the page top
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    //set the header background color as white with 0.9 color opacity
    background: rgba(255, 255, 255, 0.9);
    //background: #fff;


}

.site-nav {
    line-height: 55px;
}


.site-header .wrapper {
    padding: 0 5px;
}

.nav-page {
    display: float;
    text-align: right;
    margin: 20px 0 20px 10px;
    padding: 5px 20px;
    color: white !important;
    background-color: $color-text-black;
    border: 1px solid $color-text-black;
    &:hover {
        background-color: white;
        color: $color-text-black !important;
        text-decoration: none;
    }
}

.logo {
    // margin-bottom: 20px;
    // border: 1px solid #000;
    // height: 43px;
}

.logo-text {
    display: inline-block;
    font-family: $logo-font-family;
    text-transform: uppercase;
    //line-height: 45px;
    font-size: 20px;
    //letter-spacing: -3px;
}

.logo-img {
    // border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-top: -5px;
}

.intro{
    // vertial center align the div
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    //set height setting for different screen size
    @media (max-width: 768px) {
        height: auto;
    }
    @media (max-width: 480px) {
        height: auto;
    }

}



.projectsCollection {
    margin-top: 100px;

    .projects-title {
        font-size: $h2-font-size;
        font-weight: 300;
    }
    .project {
        margin-top: 50px;
        
        .project-title {
            font-size: $h2-font-size;
            font-weight: 300;
        }
        .project-subtitle {
            font-size: $base-font-size;
            font-weight: 300;
            
            i {
                font-size: $xsmall-font-size;
                font-weight: 300;

            }
        }
        .project-desc {
            font-size: $base-font-size;
            font-weight: 300;

            .btn {
                font-weight: 300;
                background-color: white;
                    color: $color-text-black !important;
                
                border: 1px solid $color-text-black;
                border-radius: 0;
                &:hover {
                    color: white !important;
                background-color: $color-text-black;
                    text-decoration: none;
                }
            }

            .card {
                border: 1px solid $color-text-black;
                border-radius: 0;
                //padding: 0.5rem;
                margin-top: 10px;
                margin-bottom: 10px;
                
            }
        }
        .project-img {
            img {
                width: 100%;
            }
        }
    }
}


.intro-title {
    //margin-top: 50px;
}

.intro-text {
    //margin-top: 50px;
    font-weight: 300;
    .text-left-img {
        margin-top: 6px;
    }
    .round-edge {
        border-radius: 50%;
    }
}

.icon--ins,
.icon--linkedin {
    svg {
        width: 16px;
        height: 16px;
    }
}

.video-container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.pdf-container {
    margin-top: 10px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-right {
}

.social-media-list,
.contact-list {
    text-align: right;
    a {
        color: $grey-color-dark;
        //font-style: italic;
        font-size: $base-font-size;
    }
}

.about {
    margin-top: 100px;
    .about-title {
        font-size: $h2-font-size;
        font-weight: 300;
    }
    .about-desc {
        margin-top: 50px;
        font-size: $base-font-size;
        font-weight: 300;
    }
}

// .unis-pic:hover {
//   + .uni-desc {
//     display: block;
//   }
// }
.mypic {
    // width:300px;
    // height:200px;
    // object-fit:cover;
    // border-radius:50%;
}

.intro {
    // height: 100vh;
}

.edu {
    margin-top: 100px;
}

.site-footer {
    margin-top: 50px;
    font-size: $small-font-size;
}

.bio-img-desc {
    // &.intern {
    //   margin-top: 50px;
    // }
    .uni-desc {
        padding-top: 10px;
        padding-bottom: 15px;
        &.right {
            border-left: 1px solid #424242;
        }
        &.left {
            border-right: 1px solid #424242;
            text-align: right;
        }
    }
    .uni-img {
        img {
            height: 40px;
            margin-top: 25px;
        }
    }
    .triangle::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        top: 0%;
        margin-top: 25px;
        position: absolute;
        clear: both;
    }
    .left.triangle::before {
        border-right: 5px solid #424242;
        margin-left: -5px;
        left: 100%;
    }
    .right.triangle::before {
        border-left: 5px solid #424242;
        margin-right: -5px;
        right: 100%;
    }
    .triangle {
        position: relative;
    }
}


.edu-work-experience {
    margin-top: 50px;

    .edu-title {
        font-size: $base-font-size;
        font-weight: 300;
    }

    .edu-desc {
        font-size: $base-font-size;
        font-weight: 300;
    }

    ul li {
        font-size: $base-font-size;
        font-weight: 300;
        line-height: normal;
        
        p {
            margin-bottom: 10px;
        }
    }

    .edu-imgs, .work-imgs {
        margin-top: 50px;
        //align the block
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        
        img {

            display: block;
            margin-left: auto;
            margin-right: auto;
    
            
            height: 50px;
            width: auto;
    
            margin-bottom: 25px;
        }

       
    }

    .work-imgs img {
        height: 40px;
    }
    
}

